<h1>Hello from Flowers!</h1>
<h2>Enter your name to place an order</h2>
<form action="/names" method="post" >
  <label for="customer_name">
    Please enter your name
    <input type="text" name="customer_name" required>
  </label>
  <input type="submit" value="Submit" >
</form>
