<p><%= message %></p>
<form action="/lily" method="post">
  <label>Lilies Product Code: L09
    <input type="number" name="lily_quantity" required >
  </label>
  <button type="submit">Submit</button>
  
</form>
