<div class="row">
  <div class="col-xs-12 text-center">
    <p><%= message %></p>
    <form action="/lily" method="post">
      <label>Lilies Product Code: L09
        <input type="number" name="lily_quantity" placeholder="Enter number of lilies" required autofocus>
      </label>
      <button class="btn btn-primary" type="submit">Submit</button>
      
    </form>
  </div>
</div>
