Welcome <%= @customer_name %>!

<p><%= message %></p>
<form action="/rose" method="post">
  <label>Number of Roses R12
    <input type="number" name="rose_quantity" required >
  </label>
  <button type="submit">Submit</button>
</form>
